p {
    font-size: 24px;
    padding-bottom: 50px;
}
ol li{
font-size: 20px;
padding-bottom: 25px;
}
ul li {
    font-size: 25px;
}
html {
    background-image: linear-gradient(-45deg, #80e0ef 15%, #00b4d8);
    height: 100%;
}

img {
    width: 720px;
    height: 360px;
    display: block;
    margin: 0 auto;
    border: 5px solid #02a086;
    
}
.page-title {
    text-align: center;
    font-size: 60px;
    font-family: Arial, Helvetica, sans-serif;
    color: #02a086;
    text-shadow: 2px 2px #0cffae;
    text-decoration-line: underline;
}
.recipes a {
    text-decoration: none;
    color: #80e0ef;
    font-family: cursive, sans-serif;
    font-weight: 600;
    font-size: 36px;
    text-shadow: 2px 2px #124047
}
.recipes li {
    padding-bottom: 50px;
    padding-top: 100px;
}
.recipes {
display: block;
text-align: center;
list-style: none;
background-color: #268a99;
width: 85%;
margin: 0 auto;

}
h2 {
    color: #1260cc;
}
ul {
    padding-bottom: 50px;
}
.link {
    text-decoration: none;
    color: rgb(256, 80, 80)
}
.back {
    font-size: 32px;
    display: block;
    text-align: center;
    padding-bottom: 25px;
    text-decoration: none;
   color: #1260cc;
    font-weight: bold;
    font-family: sans-serif;
}
.ingredients {
    display: inline;
    float: left;
    margin-right: 80px;
}
.main {
    background-color: #268a99;
    margin: 60px;
    padding: 60px;
}
h2 {
    padding-left: 00px;
}
.ingredients-title {
    padding-left: 20px;
}